/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,.summary,.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile {
    height: auto;
    max-width: 30%;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.experience-icon {
    font-size: 32px;
}

a:hover {
    text-decoration: none;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 900px;
    }
}

/* Supporting summary content */
.summary {
    margin: 40px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,.summary,.footer {
        padding-right: 0;
        padding-left: 0;
    }
}

.panel {
    border-width: 2px;
}

.list-group-item {
    border-style: none;
}

.fa-red {
    color: #c50a2e;
}

.fa-green {
    color: #1fa67b;
}

.fa-blue {
    color: #337ab7;
}

.btn {
    white-space: normal;
    border: none;
}

.btn:hover {
    background: none;
    font-size: 1.1em;
}
